.sidebarThread {
  display: flex;
  flex:1;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(190, 190, 190, 0.1);
  color: white;
  cursor: pointer;
}

.sidebarThread:hover {
  background-color: rgb(60, 66, 155);
}

.sidebarThread__details {
    margin-left: 15px;
    position: relative;
    width: 100%;
}

.sidebarThread__timestamp {
    position: absolute;
    top: 10px;
    right: 0;
}
